@model IEnumerable<DataLayer.Data.ViolationEntity>

@{
    ViewData["Title"] = "GetNotContesteViolations";
}

<h1>Violazioni non contestate</h1>
<hr />
<table class="table table-primary table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ViolationData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViolationAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VerbalTranscription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicencePoints)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ViolationData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViolationAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerbalTranscription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicencePoints)
            </td>
        </tr>
}
    </tbody>
</table>
