@model IEnumerable<DataLayer.Data.ViolationEntity>

@{
    ViewData["Title"] = "GetNotContesteViolations";
}

<h1>GetNotContesteViolations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViolationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViolationData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViolationAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VerbalTranscription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicencePoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContestedTicket)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViolationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViolationData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViolationAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerbalTranscription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicencePoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContestedTicket)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
